body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: brown;
}
.container {
    display: flex;
    flex-direction: row;
}
.circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 7px;
    padding: 3px;
    animation: loader 0.6s ease-in-out infinite;
}
.circle:nth-child(1) {
    background: black;
    animation-delay: .1s;
}
.circle:nth-child(2) {
    background: red;
    animation-delay: .3s;
}
@keyframes loader {
    0%{ transform: translate(0px,0px) ;}
    50%{transform: translate(0px,-30px);}
    100%{transform: translate(0px,0px) ;}
}
